<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info"
	strict="true">
	<Properties>
		<Property name="PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} --- %msg%n</Property>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
	</Properties>


	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="File-DEBUG" fileName="target/logs/app-debug.log" filePattern="target/logs/app-debug-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${PATTERN}</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
			<Filters>
				<!-- Важен порядок записей ThresholdFilter. В конкретном даннном случае ПЕРВАЯ СТРОКА: отклонить INFO и все что специфичнее INFO но пропустить дальше все что не соответствует. ВТОРАЯ СТРОКА: Принять что соответствует DEBUG, все что не соответствут оклонить так понимаю TRACE -->
				<!-- If you always use "NEUTRAL"-"DENY" combinations (onMatch="NEUTRAL"+onMismatch="DENY" or onMatch="DENY"+onMismatch="NEUTRAL") then you get an intersection of all "NEUTRAL"-sbsets regarding to the filters. With "NEUTRAL"-"ACCEPT" combinations you get union sets. -->
				<!-- But you need to be aware of the following rule: As soon as a filter triggers an "ACCEPT" or a "DENY" then no other filters will be evaluated. So the order of your filters is important. This is especially true for composite filters (the <filters>-tag). -->
				<!-- When a filter is configured with an onMatch value of ACCEPT it means "accept the log event regardless of other factors". When the onMatch value is set to DENY it means "reject the log event regardless of other factors". When the value is set to NEUTRAL it simply means it wasn't rejected or accepted and further evaluation of the log event should continue. -->
				<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="File-INFO" fileName="target/logs/app-info.log" filePattern="target/logs/app-info-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${PATTERN}</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</RollingFile>

		<RollingFile name="File-ERROR" fileName="target/logs/app-error.log" filePattern="target/logs/app-error-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${PATTERN}</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
		</RollingFile>
		
		<RollingFile name="File-ALL" fileName="target/logs/app-all.log" filePattern="target/logs/app-all-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${PATTERN}</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="NEUTRAL" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="File-INFO" />
			<AppenderRef ref="File-ERROR" />
			<AppenderRef ref="File-DEBUG" />
			<AppenderRef ref="File-ALL" />
		</Root>
	</Loggers>
</Configuration>