<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium">
    <parameter name="instanceOfWebDriver"  value="chrome"/>
    <test name="TestGovernmentServices" verbose="0" annotations="JDK">
        <classes>
            <class name="MainMenuTest">
                <methods>
                    <include name="testPresentAllReferences"/>
                    <include name="testLinkToOfficalPortal"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TestCititlink" verbose="0" annotations="JDK">
        <classes>
            <class name="MainSearchTest">
                <methods>
                    <include name="isOpenedCurrenPage"/>
                    <include name="engineSearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
